:root {
    --color1: #EDCB57;
    --color2: #2D557C;
    --color3: #FCECAD;
    --color4: #77b3d4; 
    --color5: #FFFFF0;
    --color6: #2A2F33;
}

body {
    font-family: 'Fauna One', serif;
    font-size: 16px;
    background-color: var(--color5);
    margin:0;
}

header {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: flex-start;
    background-color: var(--color2);
    padding: 1rem;
}

header h2{
    font-size: .8rem;
    color: var(--color5); 
    border-bottom: solid 2px var(--color5);
}
.iconSmall{
    width: 48px;
    height: auto;
    padding: .5rem;
    align-self: center;
}

.socialIcon {
    width: 30px;
    height: 30px;
    padding: .2rem
}

header div {
    display: flex;
    text-align: left;
    align-items: center;
}

#subHeader1 {
    width: 100%;
}
.pageName {
    align-items: flex-start;
    flex-grow: 1;
    flex-direction: column
}

#banner {
    display: none;
    margin: 1rem 0 0 0;
    border: 1px solid var(--color6);
    background-color: var(--color4);
    text-align: center;
    width: 100%;
    position: relative;
}

#close {
    float:right;
    margin: .3rem;
    background-color: var(--color5);
}


main section {
    width: auto;
    height: auto;
    background-color: var(--color3);
    margin: 1rem;
    padding: 1rem;
    border: 1px solid rgba(0, 0, 0, 0.3);
    color: var(--color6);
    position: relative;
}

#hero {
    padding:0;
}

picture.heroimage {
    display: block;
    width: 100%;

}

picture.heroimage img {
    width: 100%;
}

img[data-src] {
    filter: blur(0.2em);
  }
  
img.discover{
    min-width: 300px;
    min-height: 300px;
    filter: blur(0em);
    transition: filter 0.5s;
    display: block;
    border: 1px black solid;
    padding: 12px;
    margin: 12px;
  }

/*---------- FORM --------- */

form {
    padding: 1rem;
}

label.top {
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    transition: all 0.7s;
  }

.inputWrapper input {
    -webkit-appearance: none;
    display: block;
    font-size: 1rem;
    border:none;
  border-radius: 6px;
    padding: 1.5rem 0 .5rem .5rem;
    color: var(--color6);
    width: 97%;
   height: 100%;
  }

label.sbs {
    display: block;
    padding: .75rem;
    color: var(--color6);
    font-size: 1rem;
  }

input.submitBtn {
    border: none;
    background-color: var(--color2);
    color: var(--color5);
    border-radius: 1rem;
    padding: .75rem 1.5rem;
    margin: 2rem;
    width: 96%;
    max-width: 300px;
  }

.radioWrapper, .inputWrapper {
    background-color: var(--color5);
    width: 100%;
    max-width: 360px;
    border-radius: 4px;
    border: solid 1px var(--color1);
    margin-top: .8rem;
  }

.inputWrapper {
  position: relative; 
}

input {
  background-color: var(--color5);
}

label, .radioWrapper div {
  padding-top: .25rem;
  padding-left:.5rem;
  color: var(--color2);
  font-size: .8rem;
}

input:placeholder-shown + label, textarea:placeholder-shown + label{
  opacity: 0;
  z-index: -1;
  transform: translateY(1rem);
}

.longtext {
  resize: none;
  height: 6rem;
  width: 97%;
  background-color: var(--color5);
  border: none;
  border-radius: 6px;
  padding-left: .5rem;
  padding-top: 1.5rem;
  font-size: .9rem;
}

*:focus {outline:none !important}

.membershipDescriptor {display:none;}

/* -----Begin Business Cards Section----- */
.cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  }
  
  section.businessCard {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    border-radius: 12px;
  }
  
  .companyLogo {
    height: 150px;
    width: fit-content;
    align-self: center;
    box-shadow: 0 -3px 20px rgba(0, 0, 0, 0.8);
    margin:  1rem 0 1.2rem;
    border-radius: 12px;
  }
  
  div.companyInfo {
    font-size: 1.2rem;
    padding-top: .7rem;
  }
  
   a.companyInfo {  
    text-decoration: none;
    font-size: 1.3rem;
    border: 1px black solid;
    border-radius: 6px;
    background-color: var(--color5);
     margin-top: .5rem;
     align-self: center;
     width: 350px;
  }
  
  a.companyInfo div {
    padding: .4rem;
    justify-self: center;
  }
  
  a.companyInfo :hover {
    background-color: var(--color2);
      color: var(--color5);
  }
/* ------End Business Cards Section------ */

#hero h2 {
    position: absolute;
    top: 1rem;
    margin: 1rem;
}

#spotlight {
    height: auto;
}

.spotlighted {
    width:auto;
    height: auto;
    padding:.5rem;
    background-color: var(--color1);
    border: solid 1px rgba(0, 0, 0, 0.3);
    align-items: center;
    text-align: center;
}

#spotlight div:nth-child(3) {
    display: none;
}

#join {
    display: none;
}

#weather {
    display: block;
}

#weather div {
    text-align: center;
    align-items: center;
    justify-items:center;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

#weather div :nth-child(3) {
    grid-column: 1/3;
}

#weather h3 {
    margin:.3rem;
    padding: .2rem;
    border-bottom: var(--color6) 1px solid;
}

#weather p {
    margin: .3rem;
}

#weatherIcon {
    height: 100px;
    width: 100px;
    padding: .4rem;
    /* float: left; */
}

#temp {
    padding: 1rem 0 1rem 0;
    font-size: 2.5rem;
    font-weight: bold;
}

div.logo {
    border: none;
    display: flex;
    justify-content: center;
    margin: 6px;
    height: 120px;
    width: auto;
}

h1 {
    font-family: 'Cinzel', serif;
    margin: 0;
    font-size: 1.5rem;
    color: var(--color3);
}

h2 {
    font-family: 'Cinzel', serif;
    margin: 0;
    font-size: 1.2rem;
    color: var(--color2);
    border-bottom: solid 2px var(--color2);
    white-space: nowrap;
}


#currentDate {
    background-color: rgba(0, 0, 0, 0.15);
    width: 100%;
    border: 1px solid rgba(0, 0, 0, 0.4);
    justify-content: center;
    padding: 1rem 0 1rem 0;
    color: var(--color5)

}

nav {
    
    width: auto;
    padding: 0;
    justify-self: flex-end;
    margin: 0 0 2vw 2vw;
}

nav button {
    margin:0rem;
    width: 55px;
    height: 55px;
    background: var(--color3);
    border: none;
    font-size: 2rem;
    color: #555;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin:0;
    position: absolute;
    z-index: 2;
    top: 10vw;
    right: 0;
    border-bottom: 1px solid rgba(60,66,66,0.5);
}

nav ul li a {
    text-align: center;
    display: block;
    padding: 4vw;
    width: 92vw;
    text-decoration: none;
    color: #333;
    border-top: 1px solid rgba(60,66,66,0.5);
    background: var(--color3);
}



nav ul li.active a {
    background: var(--color1);
    color: var(--color6);
}

nav ul li a:hover {
    background: var(--color5);
    color: var(--color6);
}

nav ul {
    display: none;
}
nav ul.open {
    display: block;
    top:80px;
}

#hamburger span:nth-child(1) {display: block;}
#hamburger span:nth-child(2) {display: none;}

#hamburger.open span:nth-child(1) {display: none;}
#hamburger.open span:nth-child(2) {display: block;}

footer {
    background-color: var(--color2);
    color: var(--color5);
    padding:1.5rem;
    text-align: center;
    margin: 1rem 0 1rem 0;
}

footer img {
    width: 100px;
    height: auto;
}
footer h3 {
    margin: 0;
}

#projectInfo {
    border-top: solid 1px rgba(0, 0, 0, 0.4);
    padding-top: 1rem;
}

#projectInfo p {
    margin: .1rem;
    font-size: .8rem;;
}

.bold {
    font-weight: bold;
}

.address {
    font-style: italic;
    margin:0;
}

.medLarOnly {
    display: none;
}

#updateSection {
    font-size: .8rem;
}

#cta {
    position: absolute;
    padding: 1.5rem;
    background: rgba(0, 0, 0, 0.4);
    text-decoration: none;
    color:var(--color3);
    border: solid 1px rgba(60,66,66,0.5);
    border-radius: 12px;
    box-shadow: 0px 0px 10px var(--color6);
    bottom: 2rem;
    right: 2rem;
}

