:root {
    --color1: #EDCB57;
    --color2: #2D557C;
    --color3: #FCECAD;
    --color4: #72c4be; 
    --color5: #FFFFF0;
    --color6: #2A2F33;
}

body {
    font-family: 'Fauna One', serif;
    font-size: 16px;
    background-color: var(--color5);
    margin:0;
}

header {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: flex-start;
    background-color: var(--color2);
    padding: 1rem;
}

.iconSmall{
    width: 48px;
    height: auto;
    padding: .5rem;
    align-self: center;
}

.socialIcon {
    width: 30px;
    height: 30px;
    padding: .2rem
}

header div {
    display: flex;
    text-align: left;
    align-items: center;
}

#subHeader1 {
    width: 100%;
}
.pageName {
    align-items: flex-start;
    flex-grow: 1;
    flex-direction: column
}

/* #pageName {
    ;
} */

main section {
    width: auto;
    height: 10rem;
    background-color: var(--color3);
    margin: 1rem;
    padding: 1rem;
    border: 1px solid rgba(0, 0, 0, 0.3);
    color: var(--color6);
}

#spotlight {
    height: auto;
}

#spotlight div {
    width:auto;
    height: 10rem;
    padding:.5rem;
    background-color: var(--color1);
    border: solid 1px rgba(0, 0, 0, 0.3)
}

#spotlight :nth-child(3) {
    display: none;
}

#join {
    display: none;
}

h1 {
    font-family: 'Cinzel', serif;
    margin: 0;
    font-size: 1.35rem;
    color: var(--color3);
}

h2 {
    font-family: 'Cinzel', serif;
    margin: 0;
    font-size: .8rem;
    color: var(--color5);
    white-space: nowrap;
}

#currentDate {
    background-color: rgba(0, 0, 0, 0.15);
    width: 100%;
    border: 1px solid rgba(0, 0, 0, 0.4);
    justify-content: center;
    padding: 1rem 0 1rem 0;
    color: var(--color5)

}

nav {
    
    width: auto;
    padding: 0;
    justify-self: flex-end;
    margin: 0 0 2vw 2vw;
}

nav button {
    margin:0rem;
    width: 55px;
    height: 55px;
    background: var(--color3);
    border: none;
    font-size: 2rem;
    color: #555;
    float: center;
    /* text-align: center; */
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin:0;
    position: absolute;
    top: 10vw;
    right: 0;
    border-bottom: 1px solid rgba(60,66,66,0.5);
}

nav ul li a {
    text-align: center;
    display: block;
    padding: 4vw;
    width: 92vw;
    text-decoration: none;
    color: #333;
    border-top: 1px solid rgba(60,66,66,0.5);
    background: var(--color3);
}



nav ul li.active a {
    background: var(--color1);
    color: var(--color6);
}

nav ul li a:hover {
    background: var(--color5);
    color: var(--color6);
}

nav ul {
    display: none;
}
nav ul.open {
    display: block;
    top:80px;
}

#hamburger span:nth-child(1) {display: block;}
#hamburger span:nth-child(2) {display: none;}

#hamburger.open span:nth-child(1) {display: none;}
#hamburger.open span:nth-child(2) {display: block;}

footer {
    background-color: var(--color2);
    color: var(--color5);
    padding:1.5rem;
    text-align: center;
    margin: 1rem 0 1rem 0;
}

footer h3 {
    margin: 0;
}

#projectInfo {
    border-top: solid 1px rgba(0, 0, 0, 0.4);
    padding-top: 1rem;
}

#projectInfo p {
    margin: .1rem;
    font-size: .8rem;;
}

.bold {
    font-weight: bold;
}

.address {
    font-style: italic;
    margin:0;
}

.medLarOnly {
    display: none;
}

#updateSection {
    font-size: .8rem;
}