* {
    font-family: 'Cormorant SC', serif;
    /* font-family: 'Montserrat', sans-serif; */
}

body {
    margin: 0;
}
  
header, main, footer {
      margin: 0 auto;
      max-width: 400px;
      width: 100vw;
      align-self: center;
      background: lightcoral;
      display: flex;
      align-items: center;
      justify-content: space-between;
}

.title h1 {
    text-transform: uppercase;
    font-size: 2.2rem;
    margin:0;
}

.title h2 {
    font-size: 1.5rem;
    margin:0;
}

nav {
    position: absolute;
    background: yellow;
    top: 76px;
    max-width: 400px;
    width: 100vw;
}

nav ul {
    list-style-type: none;
    padding: 0;
    width: 100%;
    margin:0;
}

nav ul a {
    text-decoration: none;
}

nav li {
    font-size: 2rem;
    text-align: center;
}
  
nav li:hover {
    background: gold;
}

.logo {
height: 55px;
margin: .5rem;
}

#hamburger {
  font-size: 3rem;
  padding: .4rem;
  margin: .5rem;
  border: solid black 1px;
  border-radius: 6px;
  background: lightgray;
  height: 40px;
}

.closed {
  opacity: 0;
  z-index: 0;
  transition: all 0.7s;
  transform: translateX(-10rem);
}

.open {
  display: block;
  transition: all 0.7s;
  transform: translateY(0rem);
  opacity: 1;
  z-index: 1000;
}

#murray {
  z-index: 2;
  max-width: 400px;
    width: 100vw;
    position: relative;
}

footer p {
    font-size: .9rem;
    margin: 0 1rem 0 0;
}