@media (min-width: 50em) {
  main,
  header,
  footer {
    max-width: 1200px;
  }

  main {
    background: white;
  }

  #hamburger {
    display: none;
  }

  .title {
    justify-content: center;
    align-items: center;
  }

  nav {
    position: relative;
    z-index: auto;
    max-width: 1200px;
    width: auto;
    flex-direction: row;
    top: 0;
    background: lightcoral;
  }

  .mainNav {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    overflow: visible;
  }

  nav li {
    padding: 1rem;
    font-size: 1.8rem;
  }

  nav.closed {
    display: block;
    transition: all 0s;
    transform: translateX(0rem);
    opacity: 1;
  }

  header .social {
    order: 4;
  }
}
