@media (min-width: 50em) {
  main,
  header,
  footer {
    max-width: 1200px;
  }

  main {
    background: white;
  }

  #hamburger {
    display: none;
  }

  .title {
    justify-content: center;
    align-items: center;
  }

  nav {
    position: relative;
    max-width: 1200px;
    width: auto;
    flex-direction: row;
    top: 0;
    background: lightcoral;
  }

  .mainNav {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    overflow: visible;
    flex: 1;
  }

  nav li a {
    padding: 1rem;
    font-size: 1.8rem;
  }

  nav.closed {
    display: flex;
    transition: all 0s;
    transform: translateX(0rem);
    opacity: 1;
    z-index: auto;
  }

  header .social {
    order: 4;
  }

  .serviceImg {
    max-width: 600px;
  }

  #serviceDiv section:last-of-type {
    margin-bottom: 1.5rem;
  }

  .dropdown {
    display: block;
    visibility: hidden;
    opacity: 0;
    position: absolute;
    top: 64px;
    background: lightcoral;
    transition: all 0.3s ease;
    left: 0;
    width: 16rem;
  }

  .subNav {
    display: none;
  }

  .mainNav li {
    position: relative;
  }

  .mainNav li:hover > .dropdown,
  .dropdown:hover {
    visibility: visible;
    opacity: 1;
  }

  .cta {
    width: 30%;
  }
}
